.registerdata {
    width: 50%;
    height: auto;
    overflow: hidden;
    background: -webkit-linear-gradient(#D94E67, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#D94E67, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#D94E67, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#D94E67, white); /* Standard syntax (must be last) */
    border-radius: 6px;
    margin: 50px auto;
    box-shadow: 0px 0px 50px rgba(0,0,0,.8);
}

.registerdata .loginbox {

	font-family:Georgia,serif;
	color:#4E443C;
	font-variant: small-caps;
	text-transform: none;
	font-weight: 100;
	margin-bottom: 0;
	font-size:18px;
	width: 100%;
    padding-top: 13px;
    padding-left:10%;
    text-align: left;
    font-weight: bold;
    background: #D94E67;
    margin-bottom: 30px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.registerdata form {
    width: 80%;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.registerdata form input[type=text], .registerdata form input[type=password] {
    width: 250px;
    font-size: 12px;
    padding: 5px;
    color: #000000;
    background: #FFFFFF;
    outline: none;
    margin: 0;
}

.registerdata form input[type=date] {
    width: 250px;
    font-size: 12px;
    padding: 5px;
    border: #000000 solid 1px;
    border-radius: 6px;
    color: #000000;
    background: #FFFFFF;
    outline: none;
    margin: 0;
}


.registerdata form input[type=text] {
    border-radius: 6px;
    border: #0b0b0b solid 1px;
}

.registerdata form input[type=password] {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: #0b0b0b 1px solid;
    border-right: #0b0b0b 1px solid;
    border-bottom: #353535 1px solid;
}

.registerdata form .submitbox {
    width: 240px;
    height: 40px;
    display: block;
    padding: 1px;
    border-radius: 6px;
    border: #D94E67 1px solid;
    background: #D94E67;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 -1px #1d7464, 0 1px #7bb8b3;
    font-family:Georgia,serif;
}

select {
	padding:4px;
	border-radius:6px;
	background: #f8f8f8;
	color:#000000;
	border: #0b0b0b 1px solid;
}

select:hover { 
    background-color: #D94E67;
    border: #000000 1px solid;
    color:#FFFFFF;
    cursor:pointer;
}

.fontdec {
	font-family:Georgia,serif;
	color:#4E443C;
	font-variant: small-caps;
	text-transform: none;
	font-weight: 100;
	margin-bottom: 0;
}

input[type="text"]:disabled {
    background: #000000;
}

.formcontainer
{
text-align:left;
width:330px;
border-top: 1px solid;
border-bottom: 1px solid;
padding:10px;
margin: auto;
}
.para
{
margin-bottom: 10px;
}

.hidden{
  visibility: collapse;
}